<div>
  <form #companyForm="ngForm">
    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="full-width">
          <input matInput placeholder="Company name" [(ngModel)]="data.name" required name="company-name" #name="ngModel">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
       <mat-form-field class="full-width">
         <input matInput placeholder="Registration number" [(ngModel)]="data.regirstartionNo" required name="reg-no"
           #regno="ngModel">
       </mat-form-field>
      </div>
      <div class="col-md-6">
       <mat-form-field class="full-width" >
         <mat-select placeholder="Package" name="package" [(ngModel)]="data.packageId" #packageId="ngModel" required>
           <mat-option *ngFor="let package of data.packages" [value]="package.id" >
             {{package.name}}
           </mat-option>
         </mat-select>
       </mat-form-field>
      </div>
     </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" [(ngModel)]="data.email" required name="email" email #email="ngModel">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input matInput placeholder="phone" [(ngModel)]="data.phone" required name="phone" type="number" #phone="ngModel">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Address" [(ngModel)]="data.address" required name="address" #address="ngModel"></textarea>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field class="full-width">
          <input matInput placeholder="Year found" [(ngModel)]="data.yearFound" required name="year" type="number"
            #year="ngModel">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-8 col-md-4">
        <div class="pull-right">
          <button mat-raised-button color="primary" (click)="onNoClick()" matTooltip="discard changes"
            matTooltipPosition="left">Cancel</button>
          <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial [disabled]='!companyForm.valid'
            matTooltip="Save changes" matTooltipPosition="below">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>