<mat-card class="max-height">
  <app-nav-bar></app-nav-bar>
  <h1 class="margn-top"></h1>
  <router-outlet></router-outlet>
</mat-card>
<footer>
  <!-- <mat-toolbar>&copy;2018</mat-toolbar> -->
</footer>
