<div class="container">
  <div class="row margin-top">
          <div class="col-md-4">
                  <button mat-raised-button color="primary" (click)="save()" matTooltip="Add new company"
                          matTooltipPosition="above">Add New User</button>
          </div>
          <div class="col-md-4 col-md-offset-4 ">
                  <input class="form-control" placeholder="search" />
          </div>

  </div>
  <div class="row  margin-top">
          <div class="example-container mat-elevation-z8">
                  <div class="example-table-container">
                          <table mat-table [dataSource]="users">

                                  <ng-container matColumnDef="firstName">
                                          <th mat-header-cell *matHeaderCellDef> First Name </th>
                                          <td mat-cell *matCellDef="let user"> {{user.firstName}} {{user.lastName}}</td>
                                  </ng-container>

                                  <ng-container matColumnDef="phone">
                                          <th mat-header-cell *matHeaderCellDef> Phone </th>
                                          <td mat-cell *matCellDef="let user"> {{user.phone}} </td>
                                  </ng-container>

                                   <ng-container matColumnDef="lastName">
                                          <th mat-header-cell *matHeaderCellDef></th>
                                          <td mat-cell *matCellDef="let user">
                                                  <button mat-raised-button color="primary" (click)="update(company)"
                                                          matTooltip="update company" matTooltipPosition="left">Update</button>
                                                  <button mat-raised-button color="warn" data-toggle="modal"
                                                          (click)="getSelectedCompany(this.company)" data-target="#confimDialog"
                                                          matTooltip="delete company" matTooltipPosition="right">Delete</button>
                                          </td>
                                  </ng-container> 

                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>
                          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                  </div>
          </div>
  </div>

</div>