<div class="container">
        <div class="row margin-top">
                <div class="col-md-4">
                        <button mat-raised-button color="primary" (click)="save()" matTooltip="Add new company"
                                matTooltipPosition="above">Add New
                                Company</button>
                </div>
                <div class="col-md-4 col-md-offset-4 ">
                        <input class="form-control" placeholder="search" (input)="getCompanies($event.target.value)" />
                </div>

        </div>
        <div class="row  margin-top">
                <div class="example-container mat-elevation-z8">
                        <div class="example-table-container">
                                <table mat-table [dataSource]="companies">

                                        <ng-container matColumnDef="Name">
                                                <th mat-header-cell *matHeaderCellDef> Company </th>
                                                <td mat-cell *matCellDef="let company"> {{company.name}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="Phone">
                                                <th mat-header-cell *matHeaderCellDef> Tel </th>
                                                <td mat-cell *matCellDef="let company"> {{company.phone}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="YearFound">
                                                <th mat-header-cell *matHeaderCellDef></th>
                                                <td mat-cell *matCellDef="let company">
                                                        <button mat-raised-button color="primary" (click)="update(company)"
                                                                matTooltip="update company" matTooltipPosition="left">Update</button>
                                                        <button mat-raised-button color="warn" data-toggle="modal"
                                                                (click)="getSelectedCompany(this.company)" data-target="#confimDialog"
                                                                matTooltip="delete company" matTooltipPosition="right">Delete</button>
                                                </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                        </div>
                </div>
        </div>
        <div id="confimDialog" class="modal fade" role="dialog">
                <div class="modal-dialog">

                        <div class="modal-content">
                                <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Delete</h4>
                                </div>
                                <div class="modal-body">
                                        <p>Are you sure you want to delete {{company.name}}?</p>
                                </div>
                                <div class="modal-footer">
                                        <button type="button" mat-raised-button class="margin-left" color="primary"
                                                data-dismiss="modal" (click)="onNoOptionClick()">No</button>

                                        <button type="button" mat-raised-button class="margin-left" color="primary"
                                                (click)="deleteCompany()" data-dismiss="modal">Yes</button>
                                </div>
                        </div>

                </div>
        </div>
</div>