@import '~@angular/material/theming';
@include mat-core();

$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-warn:    mat-palette($mat-red, 700, 900, A100);
$candy-app-success:    mat-palette($mat-green);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
@include angular-material-theme($candy-app-theme);

$pageMargin: 20px;
$primary: mat-color($candy-app-primary);
$accent: mat-color($candy-app-accent);
$success: mat-color($candy-app-success);
$error:mat-color($candy-app-warn);

.error-snackbar {
    background: $error;
    color: white;
    border: 1px solid $error;
  }
  
  .success-snackbar {
    background: $success;
    color: white;
    border: 1px solid $success;
  }
  